.button-plus {
    position: relative;
    width: 30px;
    height: 30px;
    /* Vertical line */
    /* horizontal line */
    border: none !important;
    /* position: absolute;
    top: 50px;
    right: 30px; */
}

.button-plus:before,
.button-plus:after {
    content: "";
    position: absolute;
    background-color: #fff;
    transition: transform 0.25s ease-out;
}

.button-plus:before {
    top: 0;
    left: 50%;
    width: 4px;
    height: 100%;
    margin-left: -2px;
}

.button-plus:after {
    top: 50%;
    left: 0;
    width: 100%;
    height: 4px;
    margin-top: -2px;
}

.button-plus:hover {
    cursor: pointer;
}

.button-plus:hover:before {
    transform: rotate(180deg);
}

.button-plus:hover:after {
    transform: rotate(180deg);
}