/* Styling */

.timeline {
    margin: 4em auto;
    position: relative;
    max-width: 46em;
    list-style: none;
    -webkit-padding-start: 0px;
}

.timeline:before {
    background-color: white;
    content: '';
    margin-left: -1px;
    position: absolute;
    top: 0;
    left: 2em;
    width: 2px;
    height: 100%;
}

.timeline-event {
    position: relative;
}

.timeline-event:hover .timeline-event-icon {
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background-color: #df9e98;
}

.timeline-event:hover .timeline-event-thumbnail:after {
    width: 100%;
}

.timeline-event-copy {
    padding: 2em;
    position: relative;
    top: -1.875em;
    left: 4em;
    width: 100%;
}

.timeline-event-copy h3 {
    font-size: 1.75em;
}

.timeline-event-copy h4 {
    font-size: 1.2em;
    margin-bottom: 1.2em;
}

.timeline-event-copy strong {
    font-weight: 700;
}

.timeline-event-copy p:not(.timeline-event-thumbnail) {
    padding-bottom: 1.2em;
}

.timeline-event-icon {
    -moz-transition: -moz-transform 0.2s ease-in;
    -o-transition: -o-transform 0.2s ease-in;
    -webkit-transition: -webkit-transform 0.2s ease-in;
    transition: transform 0.2s ease-in;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: black;
    outline: 10px solid white;
    display: block;
    margin: 0.5em 0.5em 0.5em -0.5em;
    position: absolute;
    top: 0;
    left: 2em;
    width: 1em;
    height: 1em;
}

.timeline-event-thumbnail {
    text-decoration: none;
    position: relative;
    color: black;
    font-size: 1.5em;
    display: inline-block;
    margin: 0 0 0 0;
}

.timeline-event-thumbnail:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    border-bottom: 2px solid white;
    transition: 0.4s;
}

@media (min-width: 320px) and (max-width:768px) {
    .title {
        font-size: 18vw;
    }
    .content__title {
        font-size: 16vw;
    }
    #content-6 {
        background-position: top 74px left -196px;
    }
    .timeline {
        margin-top: 10px;
    }
    .timeline-event-copy {
        padding-left: 0;
        padding-bottom: 0;
        top: -1.6em;
        width: 80%;
    }
    .timeline-event-thumbnail {
        font-size: 18px;
    }
    .timeline-event-copy h3 {
        font-size: 18px;
    }
    .timeline-event-copy h4 {
        font-size: 15px;
    }
    #wrapper .form .half {
        width: 100%;
        margin-left: 0px;
    }
    .menu-trigger--close {
        margin-right: 20px;
    }
}